<div id="container">
  <div class="card text-center">
    <div class="card-header">
      <h2>Add Menu</h2>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()">
    <div class="card-footer text-muted">
      <input class="btn btn-primary" type="submit" value="Add Menu" />
    </div>
    <div class="card-body">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Menu name:</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            [(ngModel)]="menu.menuName"
            placeholder="menu name"
          />
        </div>
      </div>

    </div>
  </form>
</div>

